.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
  pointer-events: none;
  margin: 3% 0 1% 0;
}

.App-header {
  /* background-color: #f4f4f4; */
  background: url("../public/background-skyline.gif") no-repeat center -180px;
  min-height: 35vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  text-align: center;
  font-size: calc(4px + 2vmin);
  color: #fff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  float: right;
  padding-right: 15px;
  margin: 0 10px;
  background-color: coral;
}
